<!-- ----- début fragmentMenu -->

<nav class="navbar navbar-expand-lg bg-success fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="router1.php?action=Accueil">BAUDY & LENICOLAIS |</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-nav me-auto mb-2 mb-lg-0">NomUtilisateur |</a>
    <a class="navbar-nav me-auto mb-2 mb-lg-0">X,XX €  |</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Administrateur</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="router1.php?action=utilisateurReadAll">Liste des utilisateurs</a></li>
            <li><a class="dropdown-item" href="router1.php?action=utilisateurCreate">Ajout d'un conducteur</a></li>
            <li><a class="dropdown-item" href="router1.php?action=x">Ajout d'un passager</a></li> 
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="router1.php?action=vehiculeReadAll">Liste des véhicules</a></li>
            <li><a class="dropdown-item" href="router1.php?action=vehiculeCreate">Ajout d'un véhicule</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="router1.php?action=villeReadAll">Liste des villes</a></li>
            <li><a class="dropdown-item" href="router1.php?action=villeCreate">Ajout d'une ville</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Conducteur</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="router1.php?action=vehiculeReadMine">Liste de mes véhicules</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="router1.php?action=trajetReadMine">Liste de tous mes trajets (actifs et passifs)</a></li>
            <li><a class="dropdown-item" href="router1.php?action=trajetCreate">Ajout d'un trajet</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="router1.php?action=trajetReadPassagers">Liste des passagers d'un de mes trajets actifs</a></li>
            <li><a class="dropdown-item" href="router1.php?action=trajetCloturer">Cloturer l'un de mes trajets actifs</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Passager</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="router1.php?action=reservationReadMine">Liste de mes réservations</a></li>
            <li><a class="dropdown-item" href="router1.php?action=reservationCreate">Réservation d'un trajet actif</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Innovations</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="router1.php?action=innovationOriginale">Proposez une fonctionnalité originale</a></li>
            <li><a class="dropdown-item" href="router1.php?action=innovationMVC">Proposez une amélioration du code MVC</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Examinateur</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="router1.php?action=examinateurSuperGlobales">SuperGlobales (Cookies et Session)</a></li>
            <li><a class="dropdown-item" href="router1.php?action=examinateurCreate">Ajout de 10 réservatuibs aléatoires</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Se connecter
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="router1.php?action=utilisateurLogin">Login </a></li>
            <li><a class="dropdown-item" href="router1.php?action=utilisateurLogout">Déconnexion</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> 

<!-- ----- fin fragmentMenu -->

